<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-menu-button></ion-menu-button>
    </button>
    <ion-title>Components</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button detail="false" (click)="actionsheetTapped()">
      Action Sheet
    </ion-item>
    <ion-item button detail="false" (click)="alertsTapped()">
      Alerts
    </ion-item>
    <ion-item button detail="false" (click)="badgesTapped()">
      Badges
    </ion-item>
    <ion-item button detail="false" (click)="buttonsTapped()">
      Buttons
    </ion-item>
    <ion-item button detail="false" (click)="cardsTapped()">
      Cards
    </ion-item>
    <ion-item button detail="false" (click)="checkboxTapped()">
      Checkbox
    </ion-item>
    <ion-item button detail="false" (click)="floatingActionButtonsTapped()">
      Floating Action Buttons
    </ion-item>
    <ion-item button detail="false" (click)="gesturesTapped()">
      Gestures
    </ion-item>
    <ion-item button detail="false" (click)="gridTapped()">
      Grid
    </ion-item>
    <ion-item button detail="false" (click)="iconsTapped()">
      Icons
    </ion-item>
    <ion-item button detail="false" (click)="inputsTapped()">
      Inputs
    </ion-item>
    <ion-item button detail="false" (click)="listsTapped()">
      Lists
    </ion-item>
  </ion-list>
</ion-content>
