<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" routerDirection="forward"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{album?.title}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="pictures">
    <ion-list>
      <ion-item class="ion-text-wrap" *ngFor="let picture of pictures">
        <ion-label>
          <div class="ion-text-center">
            <img *ngIf="picture.images[0]" src="{{picture.images[0].source}}" />
          </div>
          <p *ngIf="picture.place">{{picture.place.name}}</p>
          <h3 *ngIf="picture.name">{{picture.name}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-container>
</ion-content>
