<ion-header>
  <ion-toolbar>
    <ion-title>Lists</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button detail="false" (click)="basicListTapped()">
      Basic List
    </ion-item>
    <ion-item button detail="false" (click)="noLinesListTapped()">
      No Lines List
    </ion-item>
    <ion-item button detail="false" (click)="insetListTapped()">
      Inset List
    </ion-item>
    <ion-item button detail="false" (click)="listDividersTapped()">
      List Dividers
    </ion-item>
    <ion-item button detail="false" (click)="listHeadersTapped()">
      List Headers
    </ion-item>
    <ion-item button detail="false" (click)="iconListTapped()">
      Icon List
    </ion-item>
    <ion-item button detail="false" (click)="avatarListTapped()">
      Avatar List
    </ion-item>
    <ion-item button detail="false" (click)="multiLineListTapped()">
      Multi-Line List
    </ion-item>
    <ion-item button detail="false" (click)="slidingListTapped()">
      Sliding List
    </ion-item>
    <ion-item button detail="false" (click)="thumbnailListTapped()">
      Thumbnail List
    </ion-item>
  </ion-list>
</ion-content>
